.about-pic {
    width: 100vw;
    height: 42.5vw;
    display: block;
    content: url('/lightning.jpg');
    margin: 0;
    padding: 0;
    object-fit: cover;
    opacity: 0.9;
  }

.about-form {
    text-align: center;
    padding: 1rem;
    padding-top: 0;
    line-height: 1.6;
    max-width: 700px;
    margin: 1rem auto;
}

.about-h2 {
    font-size: 35px;
    font-family: Alfa Slab One;
    padding-top: 3rem
}

.about-header {
    margin-top: 3rem;
    font-weight: bold;
    font-size: 35px;
    font-family: Alfa Slab One;
    padding-top: 10%;
}

.about-text {
    text-align: center;
}

.about-address {
    line-height: .5;
}

.about-title {
    font-family: Alfa Slab One;
    color: rgba(255, 255, 255, 0.87);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
    font-size: 7em;
    font-weight: bold;
    padding-bottom: 0px;
    position: absolute;
    top: 40%;
    left: 30%;
}

.about-alignment {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: center;
}

.about-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    line-height: 1.8;
}

.box-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    width: 300px;
    height: 200px;
    position: relative;
    top: -50px;
    left: -50px;
}

.box-container-right {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    width: 300px;
    height: 200px;
    position: relative;
    top: -50px;
    right: -50px;
}

.about-hr {
    width: 100%;
}