.users-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 30vw;
    padding: 20px;
}

.users-form-container {
    height: 300px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--sky-deep);
    color: var(--sky-deep);
}

.users-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.users-form {
    margin-bottom: 15px;
    font-weight: bold;
}

.users-button {
    width: 100%;
    justify-content: center;
}

.red-alert {
    color: red;
    font-weight: bold;
}