.users-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(53, 52, 52);
}

.users-form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgb(2, 2, 2);
    color: rgb(252, 249, 249);
}

.users-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.users-form {
    margin-bottom: 15px;
}

.users-button {
    width: 100%;
}

.red-alert {
    color: red;
    font-weight: bold;
}